/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

h1 {
	position: absolute;
}

nav ul {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: brown;
	display: flex;
	justify-content: space-evenly;
}

img {
	display: grid;
}

button {
	padding: 2em;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

